body {
<<<<<<< HEAD
<<<<<<< HEAD
    background: #131413;
    color: grey;
}
=======
    background: grey;
    color: white;
}


>>>>>>> 6d69347 (django tutorials started)
=======
    background: #131413;
    color: grey;
}
>>>>>>> a05e9fd (django models)
